
  
  .example-header-image {
    background-image: url('./../../../assets/images/Home_Btn.png');
    background-size: cover;
  }
.full-width {
    width: 100%;
  }
  
  .shipping-card {
    min-width: 120px;
    min-height: 30vmax;
    margin: 20px auto;
    background: white!important;
    color: black!important;
  }


//   .auth-card-content{
//     margin-bottom: 0px!important;
//   }
  
//   .row {
//     display: flex;
//     flex-direction: row;
//   }
  
//   .col {
//     flex: 1;
//     margin-right: 20px;
//   }
  
//   .col:last-child {
//     margin-right: 0;
//   }
  
//   .mat-card-header {
//     flex-direction: column !important;
//     display: inline-flex!important
//     ;
//   }
  
//   button.imageBtn.mat-icon-button.mat-button-base.mat-primary {
//     height: auto!important;
//     width: auto!important;
// }