.overlay {
    position:fixed;
    display:block;
    width:100%;
    height:100%;
    top:0;
    left:0;
    background-color: #ffffff0d;
    z-index:99999;
  }
  
  .spinner {
    position:absolute;
    top:50%;
    left:45%;
    transform: translate(-50%,-50%);
  }