.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  min-height: 30vmax;
  margin: 20px auto;
  background: white!important;
  color: black!important;
}
img.socialLogin {
  height: 33px;
  border-radius: 5px;
  cursor: pointer;
}