.full-width {
  width: 100%;
}

.shipping-card {
  min-width: 120px;
  margin: 20px auto;
  background: white!important;
  color: black!important;
}

.mat-radio-button {
  display: block;
  margin: 5px 0;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
  margin-right: 20px;
}

.col:last-child {
  margin-right: 0;
}
.mat-stepper-horizontal, .mat-stepper-vertical {
  display: block;
  max-width: 50rem;
  margin: 0 auto;
  border-radius: 10px;
  background: #211e1e!important;
  border: 1px solid darkorange!important;
  color: white!important;
}

//bulma.css customizations
.label {
  color:#f69b22 !important;
  display: block !important;
  font-size: 1rem!important;
  text-align: left!important;
  font-weight: 400!important;
}

span.inValid{
  font-size: 12px!important;
  letter-spacing: 0.5px;
}
span.inValid strong {
  color: red!important;
}

button.imageBtn.mat-icon-button.mat-button-base.mat-primary {
  width: auto!important;
  background-color: darkorange!important;
  color: white;
}

.rentprice {
  min-width: 20vmax!important;
}
.footernav {
  margin-top: 10px;
}

