// .items {
//   display: flex;
//   flex-wrap: wrap;
//   max-width: 70%;
//   margin: 20px auto 15px auto!important;
// }


// .items .item {
// 	flex: 1 0 30%;
//   box-sizing: border-box;
//   background: #000000;
//   color: #f49820;
//   padding: 10px;
// }
// .container-fluid{
//   max-width: 70%;
// }
.searchbar {
    display: block;
    background: #f69b22;
    padding: 2px 0px;
}
.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
    margin: 5px auto;
  }
 
  .example-full-width {
    width: 100%;
  }
  
  .example-option-img {
    vertical-align: middle;
    margin-right: 8px;
  }
  
  [dir='rtl'] .example-option-img {
    margin-right: 0;
    margin-left: 8px;
  }
  .locEnable{
    color: green!important;
  }


//   .field.has-addons {
//     display: flex;
//     justify-content: center!important;
  
// }
.blackBtn{
  color: black;
            font-weight: 700!important; 
}
.searchBarContainer{
  font-weight: 700;
  color:black;
  display: flex;
  justify-content: center!important;
  @media (max-width:480px) {
    width: 100%;
    display: block;
  }
  .has-addons {
    .control {
      a.button {
        @media (max-width:480px) {
          width: 68px;
        }
      }
    }
    .searchInput  {
      @media (max-width:480px) {
        min-width: 80vw;
      }
    }
    button.button {
      @media (max-width:480px) {
        min-width: 80vw;
      }
      
    }
  }
}

.button.nearbtn {
  border-color: white!important;
  
}

.nearbybutton{
  min-width: 200px;
  border: 0 !important;
  text-align: left;
  padding-left: 0.2rem;
  width: 100%;
  display: inline-block;
}

.searchBoxIcon{
  min-width: 42px;
  background: #3968f1;
  /* background-blend-mode: hue; */
  background: #56CCF2;
  background: -webkit-linear-gradient(to right, #2F80ED, #56CCF2);
  background: linear-gradient(to right, #2F80ED, #56CCF2);
  color: white!important;
  text-align: center;
  border-radius: 0 10px 10px 0;
  height: 2em;
  .mat-icon{
    line-height: 1.5em;
  }
}

.locationBtn{
  cursor: pointer;
}

.searchInput{
  // height: 2em;
  min-width: 30vw;
  border-radius: 10px 0 0 10px;
  cursor: pointer;
}

.field:not(:last-child) {
  margin-bottom: 0px!important;
}

.product-wrap {
  width: 80vw;
  margin: 0 auto;
}
.product-list {
  width: 100%;
  float: left;
  margin: 0 auto;
  padding: 0;
  color: white;
  list-style-type: none;
  li {
    width: 25%;
    float: left;
    margin: 20px 0;
    padding: 10px;
    @media (max-width:992px) {
      width: 50%;
    }
    @media (max-width:480px) {
      width: 100%;
    }
  }
}