<mat-card class="example-card">
  <mat-card-header>
    <div mat-card-avatar class="example-header-image"></div>
    <mat-card-title>Welcome to Leezed</mat-card-title>
    <mat-card-subtitle>Rent today </mat-card-subtitle>
  </mat-card-header>


  <img mat-card-image src="./../../../assets/images/leezed.png" alt="Leezed.com" width="200px">
  <mat-card-content>
    <h2>Thank you for registering with us!</h2>
    <p>
      Welcome user,<br />
      <br /> please verify your email using the link sent to your registered
      email address to continue Renting!
    </p>
  </mat-card-content>

</mat-card>