.example-card {
    max-width: 60%;
    margin: 0px auto;
    background: none; 
  }
  .mat-card-image {
    width: 300px!important;
}
  .example-header-image {
   // background-image: url('./../../../favicon.ico');
    background-size: cover;
  }


  
  