// .example-card {
//     max-width: 300px;
//   }
  
//   .example-header-image {
//     background-image: url('https://material.angular.io/assets/img/examples/shiba1.jpg');
//     background-size: cover;
//   }
//   mat-card img{
//     height: 150px; /* adjust as needed */
//     object-fit: contain;
//   }



.card {
  cursor: pointer;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  // background: white;
  // color: #28323a;
  color: white!important;
  font-size: 14px;
  border-radius: 10px;
  max-width: 15rem;
  border: 1px solid darkorange;

  max-width: 20rem;
  max-height: 20rem;

  
}
.title, .subtitle {
  
  color: white!important;
}

.card:hover {
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}



img {
  border-radius: 5px 5px 0 0;
}

.container {
  padding: 2px 16px;
}

.card img {
 
  // width:200px;
  margin: 10px auto 0px auto !important;
  // height: 200px;
  border-radius: 10px;

  // object-fit: contain!important;
}

.card-image {
 
  width:auto!important;
  margin: 0px auto !important;
  height: 200px!important;

  object-fit: contain!important;
}

.test {
  width:100%;
  display:inline-block;
  overflow: auto;
  white-space: nowrap;
  margin:0px auto;


  
}
.rentBtn{
  background: darkorange !important;
  color: white !important;
  height: 24px;
  font-size: 12px;
  line-height: 20px;
}

 figure {
  margin-left: 0px !important;
    margin-right: 0px !important;
    border-top-right-radius: 11px;
    border-top-left-radius: 11px;
    text-align: center;
    background-color: white!important;
}

